body {
    background-color: black;
}


/* TITLE STYLES */

#brand-title {
    color: white;
    font-family: 'Dela Gothic One';
    font-size: 20px;
    margin-left: 50px;
    margin-bottom: 2px;
    margin: auto 50px 5px 5px;
}

#title-div {
    display: grid;
    margin-top: 10px;
    grid-template-columns: 50px 90px 3fr auto;
}

#input-div {
    margin: auto;
}

#acc-div {
    margin: auto 20px;
}


/* HAMBURGER MENU */

.container {
    display: inline-block;
    cursor: pointer;
    margin: auto auto auto 25px;
}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 3.5px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-7px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-7px, -8px);
}

#logo {
    height: 50px;
    width: 50px;
    margin-left: 15px;
}

#input-text {
    height: 35px;
    width: 500px;
    background-color: black;
    border: 1px solid white;
    color: white;
    padding-left: 10px;
    margin: auto auto 5px auto;
}

#searchbtn {
    position: absolute;
    margin: auto 5px auto 5px;
    height: 35px;
}

#searchbtn:hover {
    background-color: rgb(31, 48, 57);
    color: white;
}

#rule {
    width: 83%;
    border: solid 1px;
    border-color: white;
    margin: auto 0 auto auto;
}

#sign-in {
    color: white;
    border: 0.8px solid grey;
    margin-left: -5px;
}

#sign-in:hover {
    color: white;
    border: 1.2px solid white;
}

#logo:hover {
    filter: invert(1);
}

#reloadhome {
    display: flex;
    margin-left: 20px;
    cursor: pointer;
}

#input-text:focus {
    color: white;
    filter: invert(15%);
}

@media (max-width:890px) {
    #input-div {
        width: 80%;
        margin-left: 0;
    }
    #input-text {
        width: 85%;
    }
    #brand-title {
        text-align: center;
        font-size: 10px;
        margin: auto;
    }
}

@media (max-width:839px) {
    #input-div {
        width: 85%;
        margin-left: 0;
    }
    #input-text {
        width: 80%;
    }
    .l {
        display: flex;
    }
    .l #hom,
    .l #fav,
    .l #sub {
        display: none;
    }
    .container {
        margin: auto;
    }
}


/* NAVIGATION DIV */

.box {
    height: 30px;
    width: 30px;
    margin: 10px;
    cursor: pointer;
}

.l {
    text-align: center;
    width: fit-content;
}

.l:hover {
    filter: invert(40%);
}

.link {
    display: flex;
}

.link:hover {
    filter: invert(40%);
}

.link #hom,
.link #fav,
.link #sub {
    width: auto;
}

.homeimg {
    margin-left: 15px;
    filter: invert(1);
}

.favimg {
    margin-left: 15px;
    filter: invert(1);
}

.subsimg {
    margin-left: 15px;
    filter: invert(1);
}

#upl-img {
    height: 40px;
    width: 40px;
    filter: invert(1);
    cursor: pointer;
    margin-right: 15px;
}

#upl-img:hover {
    filter: invert(75%);
}

#navdiv {
    display: block;
    width: auto;
}

.brandx-title {
    color: white;
    font-family: 'Dela Gothic One';
    font-size: 10px;
    margin: auto;
}

#hom,
#fav,
#sub {
    margin-left: 2px;
    width: 100px;
}

@media (min-width: 750px and min-width: 1070px) {
    #reloadhome {
        display: flex;
    }
}

@media (max-width: 1060px) {
    #reloadhome {
        margin-left: 0px;
        display: block;
        margin-right: 0px;
        width: 80px;
    }
    #brand-title {
        text-align: center;
        font-size: 13px;
        margin: auto;
    }
}