body {
    background-color: black;
}


/* TITLE STYLES */

#title-div {
    display: grid;
    grid-template-columns: 100px 3fr auto;
}

#input-div {
    margin: auto;
}

#acc-div {
    margin: auto 20px auto auto;
}

#logo {
    height: 100px;
    width: 100px;
}

#input-text {
    height: 35px;
    width: 500px;
    background-color: black;
    border: 1px solid white;
    color: white;
    padding-left: 10px;
}

#searchbtn {
    margin: auto;
}

#searchbtn:hover {
    background-color: rgb(31, 48, 57);
    color: white;
}

#sign-in {
    color: white;
    border: 0.8px solid grey;
}

#sign-in:hover {
    color: white;
    border: 1.2px solid white;
}

#logo:hover {
    filter: invert(1);
}

#home {
    cursor: pointer;
}

#input-text:focus {
    color: white;
    filter: invert(15%);
}

@media (max-width:830px) {
    #input-div {
        width: 80%;
    }
    #input-text {
        width: 85%;
    }
}

@media (max-width:760px) {
    #input-div {
        width: 70%;
    }
    #input-text {
        width: 65%;
    }
}


/* NAVIGATION DIV */

.box {
    height: 45px;
    width: 45px;
    margin: 25px;
    cursor: pointer;
}

.home {
    filter: invert(1);
}

.home:hover {
    filter: invert(40%);
}

.fav {
    filter: invert(1);
}

.fav:hover {
    filter: invert(40%);
}

.subs {
    filter: invert(1);
}

.subs:hover {
    filter: invert(40%);
}

#upl-img {
    height: 40px;
    width: 40px;
    filter: invert(1);
    cursor: pointer;
}

#upl-img:hover {
    filter: invert(75%);
}

#upload-div {
    position: fixed;
    bottom: 30px;
    right: 35px;
}

#navdiv {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}